html, body {
  background: #eeeeee;
  color: black;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

html, body {
  margin: auto;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 18px;
}

.container-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.container {
  width: 300px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: block;
  text-align: center;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-js {
  display: block !important;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

.success {
  background-color: green !important;
  color: white;
}

.fail {
  background-color: red !important;
  color: white;
}


/* Identify Styles */
.telephone {
  font-size: 14px;
  width: 280px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button {
  min-width: 280px;
  border-style: solid;
  border-width: thin;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
}

.submit {
  color: white;
  background-color: #5CCD96;
  border-width: thin;
  border-color: white;
}

.secondary {
  color: grey;
  background-color: transparent;
  border-color: grey;
}

.iti__country-list{
  width: 170px;
}

#phoneEntryWrapper{
  min-height: 190px;
}

#videoOverlay, #loadingOverlay{
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  cursor: pointer;
}

#loadingOverlay{
  background-color: rgba(255, 255, 255, 0.7);
  cursor: default;
  position: fixed;
}

.spinner {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

#video{
    width: 100%;
    height: 100%;
}
